/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/
.idea
.DS_Store
examples/data/cache
config.yml
examples/data
.vscode
*.gem
lib/solis/entity
cache
Gemfile.lock
lib/solis/next
.rake_tasks~
